.divsong{
  float: top;
}

#song {
  background-color: rgb(2, 0, 110);
  border:2px solid #005b67 ;
  width: 200px;
  color: #010101;
  }

 

#header{
  font-size: 40px;
  background-color:blue;
  width:100%;
  margin:0px;
  border:10px solid blueviolet;
  border-radius: 20px;
  color: rgb(0, 200, 255);
  font-family: 'Nunito', sans-serif;
}
body{
  background-size:repeat;
}

canvas{
  border: 5px dashed #510792;
  margin-top: 200px;
}
.note{
  padding: 10px;
  font-size: 15px;
  background-color:rgb(0, 255, 255) ;
  color: #2f00ff;
  border-radius: 20px;
}